<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<api>
			<GraphQL>
				<endpoints>
					<!-- ********************************** MODIFIED ********************************** -->
					<edgePreview type="Sitecore.Services.GraphQL.Hosting.GraphQLEndpoint, Sitecore.Services.GraphQL.NetFxHost" url="/sitecore/api/graph/previewedge" resolve="true">
					<!-- ********************************** /MODIFIED ********************************** -->
						<url>$(url)</url>
						<enableSubscriptions>false</enableSubscriptions>
						<schema hint="list:AddSchemaProvider">
							<edgeContent type="Sitecore.Services.GraphQL.EdgeSchema.EdgeSchemaProvider, Sitecore.Services.GraphQL.EdgeSchema">
								<templates ref="/sitecore/api/GraphQL/defaults/content/schemaProviders/edgeContent/templates" param1="master" />
								<queries hint="raw:AddQuery">
									<!-- ********************************** MODIFIED *********************************** -->
									<query name="item" type="XmCloudNextJsStarter.Services.GraphQL.EdgeSchema.Queries.ItemQuery, XmCloudNextJsStarter"/>
									<query name="layout" type="XmCloudNextJsStarter.Services.GraphQL.EdgeSchema.Queries.LayoutQuery, XmCloudNextJsStarter"/>
									<!-- ********************************** /MODIFIED ********************************** -->
									<query name="search" type="Sitecore.Services.GraphQL.EdgeSchema.Queries.SearchQuery, Sitecore.Services.GraphQL.EdgeSchema"/>
									<query name="site" type="Sitecore.Services.GraphQL.EdgeSchema.Queries.SiteQuery, Sitecore.Services.GraphQL.EdgeSchema"/>
								</queries>
								<fieldTypeExtenders hint="raw:AddFieldTypeExtenders">
									<fieldTypeExtender type="Sitecore.XA.Foundation.SitecoreExtensions.FieldMapping.MultirootTreelistTypeMappingExtender, Sitecore.XA.Foundation.SitecoreExtensions" />
									<fieldTypeExtender type="Sitecore.XA.Foundation.Taxonomy.FieldMapping.TagTreelistTypeMappingExtender, Sitecore.XA.Foundation.Taxonomy" />
								</fieldTypeExtenders>
								<fieldTypeMapping ref="/sitecore/api/GraphQL/defaults/content/fieldTypeMappings/standardTypeMapping"/>
								<standardFieldsResolver ref="/sitecore/api/GraphQL/defaults/content/standardFieldsResolver"/>
							</edgeContent>
						</schema>
						<security ref="/sitecore/api/GraphQL/defaults/security/publicService"/>
						<performance ref="/sitecore/api/GraphQL/defaults/performance/standard"/>
						<cache type="Sitecore.Services.GraphQL.Hosting.QueryTransformation.Caching.GraphQLQueryCache, Sitecore.Services.GraphQL.NetFxHost">
							<param desc="name">$(url)</param>
							<param desc="maxSize">10MB</param>
						</cache>
						<extenders hint="list:AddExtender">
							<standardFieldsExtender type="Sitecore.Services.GraphQL.EdgeSchema.Extenders.StandardFieldsExtender, Sitecore.Services.GraphQL.EdgeSchema">
								<standardFieldsResolver ref="/sitecore/api/GraphQL/defaults/content/standardFieldsResolver"/>
							</standardFieldsExtender>
							<layoutExtender type="Sitecore.LayoutService.Personalization.Rendering.GraphQL.PersonalizationItemGraphTypeExtender, Sitecore.LayoutService.Personalization" resolve="true" />
						</extenders>
					</edgePreview>
				</endpoints>
			</GraphQL>
		</api>
	</sitecore>
</configuration>